@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
.Experiences {
  position: relative;
  /*top: 300%;*/
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(226, 225, 224, 1);
  margin-top: 10px;
}

.jobDate {
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-size: 18px;
}

.jobContent {
  background-color: white;
  width: 95%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
}

.position {
  color: rgba(0, 188, 212, 1);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  text-align: left;
}

.companyName {
  color: rgba(168, 170, 179, 1);
  /*text-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);*/
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  font-size: 15px;
  text-align: left;
  padding-top: 10px;
}

.description {
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 400px) {
  .jobDate {
      letter-spacing: 3px;
      font-size: 15px;
  }

  .position {
    letter-spacing: 3px;
    font-size: 20px;
  }
}
